   
<div class= "container" >
    <div class = "row">
        <div class = "container table_calender">
            <div class = "row">
                <table class = "table table-hover table-bordered">
                    <thead class ="table-dark">
                        <tr>
                            <th scope= "col">Monday</th>
                            <th scope= "col">Tuesday</th>
                            <th scope= "col">Wednesday</th>
                            <th scope= "col">Thursday</th>
                            <th scope= "col">Friday</th>
                            <th scope= "col">Saturday</th>
                            <th scope= "col">Sunday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class = "<%= @table_cel_color[0] %> "><%= @days[0][2] %></td>
                            <td class = "<%= @table_cel_color[1] %> "><%= @days[1][2] %></td>
                            <td class = "<%= @table_cel_color[2] %> "><%= @days[2][2] %></td>
                            <td class = "<%= @table_cel_color[3] %> "><%= @days[3][2] %></td>
                            <td class = "<%= @table_cel_color[4] %> "><%= @days[4][2] %></td>
                            <td class = "<%= @table_cel_color[5] %> "><%= @days[5][2] %></td>
                            <td class = "<%= @table_cel_color[6] %> "><%= @days[6][2] %></td>
                        </tr>
                        <tr>
                            <td class = "<%= @table_cel_color[7] %>"><%= @days[7][2] %></td>
                            <td class = "<%= @table_cel_color[8] %>"><%= @days[8][2] %></td>
                            <td class = "<%= @table_cel_color[9] %>"><%= @days[9][2] %></td>
                            <td class = "<%= @table_cel_color[10] %>"><%= @days[10][2] %></td>
                            <td class = "<%= @table_cel_color[11] %>"><%= @days[11][2] %></td>
                            <td class = "<%= @table_cel_color[12] %>"><%= @days[12][2] %></td>
                            <td class = "<%= @table_cel_color[13] %>"><%= @days[13][2] %></td>
                        </tr>
                        <tr>
                            <td class = "<%= @table_cel_color[14] %>"><%= @days[14][2] %></td>
                            <td class = "<%= @table_cel_color[15] %>"><%= @days[15][2] %></td>
                            <td class = "<%= @table_cel_color[16] %>"><%= @days[16][2] %></td>
                            <td class = "<%= @table_cel_color[17] %>"><%= @days[17][2] %></td>
                            <td class = "<%= @table_cel_color[18] %>"><%= @days[18][2] %></td>
                            <td class = "<%= @table_cel_color[19] %>"><%= @days[19][2] %></td>
                            <td class = "<%= @table_cel_color[20] %>"><%= @days[20][2] %></td>
                        </tr>
                        <tr>
                            <td class = "<%= @table_cel_color[21] %>"><%= @days[21][2] %></td>
                            <td class = "<%= @table_cel_color[22] %>"><%= @days[22][2] %></td>
                            <td class = "<%= @table_cel_color[23] %>"><%= @days[23][2] %></td>
                            <td class = "<%= @table_cel_color[24] %>"><%= @days[24][2] %></td>
                            <td class = "<%= @table_cel_color[25] %>"><%= @days[25][2] %></td>
                            <td class = "<%= @table_cel_color[26] %>"><%= @days[26][2] %></td>
                            <td class = "<%= @table_cel_color[27] %>"><%= @days[27][2] %></td>
                        </tr>
                        <tr>
                            <td class = "<%= @table_cel_color[28] %>"><%= @days[28][2] %></td>
                            <td class = "<%= @table_cel_color[29] %>"><%= @days[29][2] %></td>
                            <td class = "<%= @table_cel_color[30] %>"><%= @days[30][2] %></td>
                            <td class = "<%= @table_cel_color[31] %>"><%= @days[31][2] %></td>
                            <td class = "<%= @table_cel_color[32] %>"><%= @days[32][2] %></td>
                            <td class = "<%= @table_cel_color[33] %>"><%= @days[33][2] %></td>
                            <td class = "<%= @table_cel_color[34] %>"><%= @days[34][2] %></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <div class = "row">


    </div>
</div>


